# build artifacts
/build/
/**/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

# binaries/objs
*.o
*.obj
*.a
*.so
*.dll
*.dylib

# python cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
*.swp
*.swo
